doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.flex-between
      .logo Logo_here
      .container.flex-between.gap-10 
        .flex-item item 1
        .flex-item item 2
        .flex-item item 3
        .flex-item item 4
    block content
    footer.container.flex-between(style="margin-top: 80px;")
      div Copyright 2024
      a(href="https://p4ges.com") p4ges.com