.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}


/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  color: red;
}

.gap-10 {
  gap: 10px;
}

.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-item{
  display: flex;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 5px;
} */